# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.tsbuildinfo
.vscode/
.idea/

# Virtual Environment
.venv/
venv/
ENV/

# Project Specific
outputs/
test_outputs/
weights/
checkpoints/
dataset/
*.pth
*.ckpt
*.bin
*.model
.env

# Logs and databases
*.log
*.sqlite
dump.rdb
pix3d.zip

# OS specific
.DS_Store
Thumbs.db
